html, body {
  margin: 20px;
}

#todo-list{
  margin: 0px;
  padding: 0px;
  width: 521px;
}

#todo-list li.completed label{
  text-decoration: line-through;
}

#todo-list li{
  list-style: none;
  padding: 10px 0px;
  margin: 0px;
  background-color: #fff;
  border-bottom: 1px dashed #D2DADA;
}

#todo-list li:hover{
  background-color: #F9F9F9;
}

#new-todo{
  width: 400px;
  height:50px;
  font-size: 1.0em;
  margin-bottom: 10px;
}

div#wrapper{
  width: 100%;
  background-color: #F8F8F8;
}

div#thebox{
  margin-left: 450px;
  border-color: #FFFFFF;
  width: 500px;
  /*height: 100%;*/
  /*border: 1px solid black;
  border-color: black;*/
}

h2#title{
  font-size: 30px;
  margin-top: 30px;
}
