<h3>Todos</h3>
{{input type="text" id="new-todo" placeholder="What needs to be done?" 
                    value=newTitle action="createTodo" class="form-control"}}
{{outlet}}

<span id="todo-count">
  {{input type="checkbox" id="toggle-all" checked=allAreDone}}
  <strong>{{remaining}}</strong> {{inflection}} left
</span>

<ul class="list-inline">
  <li>
    {{#link-to "todos" activeClass="#"}}All{{/link-to}} 
  </li>
  <li>
    {{#link-to "todos.active" activeClass="selected"}}Active{{/link-to}} 
  </li>
  <li>
    {{#link-to "todos.completed" activeClass="selected"}}Completed{{/link-to}}
  </li>
</ul>

{{#if hasCompleted}}
  <button id="clear-completed" {{action "clearCompleted"}}>
    Clear completed ({{completed}})
  </button>
{{/if}}

